{% extends "templates/layouts/base.twig" %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}

    <article itemscope itemtype="http://schema.org/Product" class="casadel__product-single single-product-details container pt-md-5 {{ post.class }}">

        <main class="row">
            <figure class="casadel__product-image col-md-2">
                <img src="{{ post.thumbnail.src('shop_single') }}" />
            </figure>

            <section class="casadel__product-main col-md-7">
                {% if post.title %}
                    <h3 class="casadel__product-title font-playfair font-weight-bold">
                        {{ post.title }}
                    </h3>
                {% else %}
                    <h3 class="casadel__product-title font-playfair font-weight-bold">
                        {{ fn('the_title') }}
                    </h3>
                {% endif %}
                <div class="casadel__product-intro">
                    {{ post.meta('inleiding') }}
                </div>
                <aside class="casadel__product-kenmerken row bg-grey py-2 px-1 my-2">
                    <div class="col-md-6">
                        <h3 class="font-playfair font-weight-bold">Kenmerken</h3>
                        <table>
                            <tr>
                                <th class="font-playfair font-weight-bold pr-3">Streek</th>
                                <td>{{ product.get_attribute('streek') }}</td>
                            </tr>
                            <tr>
                                <th class="font-playfair font-weight-bold pr-3">Domein</th>
                                <td>{{ product.get_attribute('domein') }}</td>
                            </tr>
                            <tr>
                                <th class="font-playfair font-weight-bold pr-3">Classificatie</th>
                                <td>{{ product.get_attribute('classificatie') }}</td>
                            </tr>
                            <tr>
                                <th class="font-playfair font-weight-bold pr-3">Druif</th>
                                <td>{{ product.get_attribute('druif') }}</td>
                            </tr>
                            <tr>
                                <th class="font-playfair font-weight-bold pr-3">Jaar</th>
                                <td>{{ product.get_attribute('jaar') }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">

                    </div>
                </aside>
                <section>
                    {{ post.content }}
                </section>
            </section>

            <aside class="bg-grey col-md-3 py-2 px-3">
                {% do action('cdv_before_single_product_price') %}
                <span class="price mb-3">
                    &euro; {{ product.get_price| number_format(2, ',', '.') }}
                </span>
                {% do action('cdv_after_single_product_price') %}

                {% do action('cdv_before_single_product_order') %}
                <add-to-cart :product-id="{{ post.ID }}" :is-expanded="true"></add-to-cart>
                {% do action('cdv_after_single_product_order') %}
                <p>
                    Op werkdagen voor 15.00 uur besteld, morgen in huis

                    Gratis verzending vanaf €50,-
                    (België vanaf €100,-)

                    Proefgarantie

                    Ophalen in Amsterdam mogelijk

                    Klanten beoordelen ons met een 9.5 / 10
                </p>
            </aside>
        </main>
        <aside class="row">
            <div class="col-md-6 offset-md-1 bg-grey p-2">
                <h3 class="font-playfair font-weight-bold">
                    Gerelateerde<br>producten
                </h3>
                <div class="row">
                    {% for related in related_products %}
                        <div class="col-md-6">
                            {% include 'templates/woocommerce/partials/tease-product.twig' with { post: related, product: related } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </aside>
        <!-- Meta items for google -->
        <meta itemprop="url" content="{{ post.link }}" />
    </article>

    {#{% include ["templates/woocommerce/partials/tease-product.twig"] with { products: related_products } %}#}


{% endblock  %}
