{% extends "templates/layouts/base.twig" %}

{% block content %}
    {% do action('cdv_before_single_product') %}
    <article class="casadel__product-single single-product-details container pt-md-5 {{ post.class }}">
        {% if device.isMobile %}
            <main class="mobile__prod__grid-container mt-5">
                {% include 'templates/woocommerce/single-product/mobile.twig' %}
            </main>
        {% else %}
            <main class="row">
                {% include 'templates/woocommerce/single-product/desktop.twig' %}
            </main>
            {% include ['templates/woocommerce/single-product/product-related-'~post.slug~'.twig', 'templates/woocommerce/single-product/product-related.twig'] %}
        {% endif %}
        <section class="row">
            <div class="col-md-11 offset-md-1 p-0 mt-1">
                {% if fn('elementor_theme_do_location', 'nieuwsbrief-right') %}
                {% endif %}
            </div>
        </section>
        <!-- Meta items for google -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@id": "{{ product.get_id }}",
                "@type": "Product",
                "name": "{{ product.get_name }}",
                "image": "{{ post.thumbnail.src('shop_single') }}",
                "description": "{% if post.meta('inleiding') %}{{ post.meta('inleiding')|striptags }}{% else %}{{ post.content|striptags }}{% endif %}",
                "sku": "IT-{{ product.get_id }}",
                "offers": [{
                    "@type": "Offer",
                    "price": "{{ product.get_price }}",
                    "priceCurrency": "EUR",
                    "availability": "https://schema.org/InStock",
                    "url": "{{ post.link }}",
                    "priceValidUntil": "2020",
                    "seller": {
                        "@type": "Organization",
                        "name": "Italiaanse wijnen Casa del Vino Amsterdam",
                        "url": "{{ site.link }}",
                        "description": "{{ site.title }} is de plek om online italiaanse wijnen te bestellen."
                    }
                }],
                "itemCondition": "new",
                "brand": "{{ product.get_attribute('domein') }}"
            }
        </script>
    </article>
{% endblock  %}
