<article
        {{ fn('post_class', [ 'entry', 'product__card-container', 'p-1', 'h-100' ] ) }}
        data-template-source="partials.tease-product.twig"
        {{ fn('has_term', 'op-is-op', 'product_tag', post.ID)? 'data-extra="op-is-op"' : '' }}
        {{ fn('has_term', 'aanbieding', 'product_tag', post.ID)? 'data-extra="aanbieding"' : '' }} >
    {% do action('cdv_before_shop_loop_item_title') %}
    {% if post.title %}
        <a href="{{ post.link }}">
            <h3 class="entry-title product__card__tease-title">
                {{ post.title }}
            </h3>
        </a>
    {% else %}
        <a href="{{ product.get_permalink }}">
            <h3 class="entry-title product__card__tease-title">
                {{ post.post_title }}
            </h3>
        </a>
    {% endif %}

    {% do action('cdv_after_shop_loop_item_title' ) %}

    {% do action('cdv_before_product_streek') %}
    <h5 class="product__card__tease-streek">
        {{ product.get_attribute('streek') }}
    </h5>
    {% do action('cdv_after_product_streek') %}

    <div class="media">
        <figure class="mx-auto">
            <a href="{{ product.get_permalink }}">
                {% if lazy is defined and lazy is same as(true) %}
                    <img
                            src="#"
                            data-lazy="{{ fn('get_the_post_thumbnail_url', post.ID, 'medium') }}"
                            title="{{ post.post_title }}"
                            alt="{{ post.post_title }}"
                            class="product__card__tease-image lazy-load-me">
                {% else %}
                    <img src="{{ fn('get_the_post_thumbnail_url', post.ID, 'medium') }}" loading="lazy" title="{{ post.post_title|e }}" alt="{{ post.post_title|e }}" class="product__card__tease-image">
                {% endif %}
            </a>
        </figure>
        {% do action( 'cdv_after_shop_loop_item' ) %}
    </div>

    <section class="product__card-price">
        {% do action('cdv_before_product_price') %}
        {% if product.is_on_sale %}

            <section class="position-absolute sale-banner">
                SALE
            </section>

            <small class="old_price">
                &euro; {{ product.get_regular_price| number_format(2, ',', '.') }}
            </small>
            <span>
                &euro; {{ product.get_sale_price| number_format(2, ',', '.') }}
            </span>
        {% else %}
        <span>
            &euro; {{ product.get_regular_price| number_format(2, ',', '.') }}
        </span>
        {% endif %}
        {% do action('cdv_after_product_price') %}
    </section>

    <section class="product__card__tease-store">
        {% if fn('current_user_can', 'administrator') %}
        <span class="pr-add-to-cart"
              data-product="{{ product.get_id }}"
              data-label="Fles"
              data-outline="1"
              data-qty="1">
        </span>
            <span class="pr-add-to-cart"
                  data-product="{{ product.get_id }}"
                  data-label="Doos"
                  data-qty="6">
        </span>
        <section class="flex w-full justify-between">
        </section>
        {% else %}
        <add-to-cart :product-id="{{ post.ID }}"></add-to-cart>
        <noscript>
            <a href="?add-to-cart={{ post.ID }}" class="submit-button">
                In winkelmand
            </a>
        </noscript>
        {% endif %}
    </section>
</article>
