<article {{ fn('post_class', [ 'entry', 'product__card-container' ] ) }}>
    
    {% do action('cdv_before_shop_loop_item_title') %}
    {% if post.title %}
        <h3 class="entry-title product__card__tease-title">
            <a href="{{ post.link }}">
                {{ post.title }}
            </a>
        </h3>
    {% else %}
        <h3 class="entry-title product__card__tease-title">
            <a href="{{ post.link }}">
                {{ fn('the_title') }}
            </a>
        </h3>
    {% endif %}
    {% do action( 'cdv_after_shop_loop_item_title' ) %}

    <div class="media">
        <figure>
            <img src="{{ post.thumbnail.src('medium_large') }}" alt="{{ post.title }}">
        </figure>
        {% do action( 'cdv_after_shop_loop_item' ) %}
    </div>

</article>
