{% block base_head_container %}{% include 'templates/layouts/helpers/base-head.twig' %}{% endblock %}
{% if not fn('env_debug') %}
{% include '/templates/layouts/parts/gtag.twig' %}
{% endif %}

<title>{% block base_wp_title %}{% endblock %}{{ wp_title }}</title>

{{ function('wp_head') }}
{% block head %}{% endblock %}
</head> {# Opened in base-head.twig #}

{# Base body. Overwrite where needed. #}
<body {{ fn('body_class', "body_"~ fn('get_queried_object_id') ) }} data-template="base.twig">
{% if not fn('env_debug') %}
{% include '/templates/layouts/parts/gtag-noscript.twig' %}
{% endif %}

    <!--suppress HtmlUnknownAnchorTarget -->
    <a class="skip-link screen-reader-text" data-template="base.twig" href="#content">
        {{ _e( 'Skip to content', 'badubed') }}
    </a>

    <header class="header_topper">
        {% include 'templates/layouts/helpers/header/topper.twig' %}
    </header>
    <header class="{{ ['py-1 py-md-2', 'pb-0', 'header', 'border-bottom']|join(' ') }}" data-template="base.twig" id="header_{{ function('get_queried_object_id') }}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-8 col-md-5 col-lg-2">
                    {% block header %}
                        {% include 'templates/layouts/helpers/base-header.twig' %}
                    {% endblock %}
                </div>
                <div class="col-4 col-lg-7 d-flex align-items-center ml-auto ml-md-0" style="position: unset">
                    {% block base_navbar %}
                        {% include 'templates/layouts/helpers/base-navigation.twig' %}
                    {% endblock %}
                </div>
                {% include 'templates/layouts/parts/search-bar.twig' %}
            </div>

        </div>
    </header>
    <main id="app" {{ fn('post_class', 'main') }} data-template="base.twig">
        {% block content %}
            {{ content }}
            <!-- This will be overwritten by the content block in the inheriting .twig file -->
        {% endblock %}
    </main>
    <footer id="footer_{{ function('get_queried_object_id') }}" data-template="base.twig">
        {% block footer %}
        {# This can also be overwritten #}
            {% include 'templates/layouts/helpers/base-footer.twig' %}
        {% endblock %}
    </footer>
    {{ function('wp_footer')}}
{% block post_footer %}{% endblock %}
</body>
</html>
