<div class="site-branding" data-template="helpers.base-header.twig">
    {{ fn('the_custom_logo') }}
    {% if fn('is_front_page') and fn('is_home') %}
        <h1 class="site-title">
            <a href="{{ fn('home_url', '/')|e('esc_url') }}" rel="home">
                {{ site.name }}
            </a>
        </h1>
    {% else %}
        <p class="site-title">
            <a href="{{ fn('home_url', '/')|e('esc_url') }}" rel="home">
                {{ site.name }}
            </a>
        </p>
    {% endif %}

    {% if site.description or fn('is_customize_preview') %}
        <p class="site-description">{{ site.description|e }}</p>
    {% endif %}
</div><!-- .site-branding -->