<nav id="site-navigation" class="main-navigation d-flex" data-template="helpers.base-navigation.twig">
    {% for item in menu.items %}
        <div class="parent-nav-item">
            <a href="{{ item.link }}" class="nav-main-item {{ item.classes|join(' ') }}">
                {{ item.title }}
            </a>
            {% if item.children %}
                <ul class="drop-down">
                    {% for child in item.children %}
                        <li class="nav-drop-item">
                            <a href="{{ child.link }}" class="child-nav-item {{ child.classes|join(' ') }}">
                                {{ child.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</nav>