<tr char="woocommerce-shipping-totals shipping">
    <th>{{ package_name }}</th>
    <td data-title="{{ package_name }}">
        {% if methods %}
            <ul id="shipping_method" class="woocommerce-shipping-methods">
                {% for method in methods %}
                    <li>
                        {{ fn('checked', method.id, chosen_method, false) }}
                        {% if 1 < fn('count', methods) %}
                            <input type="radio" name="shipping_method[{{ loop.index }}]" data-index="{{ loop.index }}" id="shipping_method_{{ loop.index }}_{{ method.id }}" value="{{ method.id }}" class="shipping_method" {{ fn('checked', method.id, chosen_method, false) }}>
                        {% else %}
                            <input type="hidden" name="shipping_method[{{ loop.index }}" data-index="{{ loop.index }}" id="shipping_method_{{ loop.index }}_{{ method.id }}" value="{{ method.id }}" class="shipping_method">
                        {% endif %}
                        <label for="shipping_method_{{ loop.index }}_{{ method.id }}">{{ fn('wc_cart_totals_shipping_method_label', method) }}</label>
                    </li>
                    {% do action('woocommerce_after_shipping_rate', method, loop.index) %}
                {% endfor %}
            </ul>
        {% endif %}
    </td>
</tr>
