{% extends 'templates/layouts/base.twig' %}

{% block content %}
    <main class="container mt-md-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-playfair text-primary" style="font-size: 3rem;">
                    {{ post.title }}
                </h1>
                <p class="font-playfair font-italic">
                    {{ post.meta('subtitle') }}
                </p>
            </div>
            <div class="col-md-8">
                {{ post.post_excerpt }}
            </div>
        </div>
        <div class="row">
            {% set _products = fetchProductsFromTerm(post.meta('pa_producent').slug, post.meta('pa_producent').taxonomy, -1) %}

            {% for product in _products %}
                <div class="col-md-3 col-6 mb-2">
                    {% include 'templates/woocommerce/partials/tease-product.twig' with { post: product, product: fn('wc_get_product', product.ID), lazy: false } %}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ post.content }}
            </div>
{#            <div class="col-md-4">#}
{#                <figure>#}
{#                    <img src="{{ Image(post.meta('pa_streek').meta('afbeelding')).src }}" alt="{{ post.title }}">#}
{#                </figure>#}
{#            </div>#}
            <div class="col-md-4">
                {% if post.meta('information') %}
                    <h4>Informatie</h4>
                    <table class="w-100">
                        {% set _info = post.meta('information') %}
                        {% for info in _info %}
                        <tr class="w-100">
                            <td class="w-50">
                                {{ info.key }}
                            </td>
                            <td class="w-50">
                                {{ info.value }}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                {% if post.meta('locatie') %}
                <iframe width="400" height="450" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ post.meta('locatie') }}&key=AIzaSyDIcdyRr6q8-Mg2kxMlxIDGi78yuLXsewM" allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>

    </main>
{% endblock %}
