{% set _regionPermalink = fn('get_permalink', region.meta('cpt_streek').ID) %}
<aside class="casadel__product-kenmerken row bg-grey py-2 container my-2">
    <div class="col-md-6">
        <h3 class="font-playfair font-weight-bold">Kenmerken</h3>
        <table>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Streek</th>
                <td>
                    <a href="{{ _regionPermalink }}" class="text-dark">
                        {{ product.get_attribute('streek') }}
                    </a>
                </td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Domein</th>
                <td>{{ product.get_attribute('domein') }}</td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Classificatie</th>
                <td>{{ product.get_attribute('class') }}</td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Druif</th>
                <td>{{ product.get_attribute('druif') }}</td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Jaar</th>
                <td>{{ product.get_attribute('jaar') }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <a href="{{ _regionPermalink }}">
            <figure class="text-center">
                <img src="{{ Image(region.meta('afbeelding')).src }}" alt="{{ product.get_attribute('pa_streek') }}" class="streek_image">
            </figure>
        </a>
    </div>
</aside>
