<aside class="casadel__product-kenmerken row bg-grey py-2 container my-2">
    <div class="col-md-6 px-4 px-md-0">
        <h3 class="font-playfair font-weight-bold">Kenmerken</h3>
        <table>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Streek</th>
                <td>
                    {% for region in regions %}
                        {% set _regionPermalink = fn('get_permalink', region.meta('cpt_streek').ID) %}
                        <a href="{{ _regionPermalink }}" class="text-dark">
                            {{ region.name }}{% if not loop.last %}, {% endif %}
                        </a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Domein</th>
                <td>{{ product.get_attribute('domein') }}</td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Classificatie</th>
                <td>{{ product.get_attribute('class') }}</td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Druif</th>
                <td>
                    {% for grape in grapes %}
                        {% set _grapePermalink = fn('get_permalink', grape.meta('cpt_druif').ID) %}
                        <a href="{{ _grapePermalink }}" class="text-dark">
                            {{ grape.name }}
                        </a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th class="font-playfair font-weight-bold pr-3">Jaar</th>
                <td>{{ product.get_attribute('jaar') }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <a href="{{ _regionPermalink }}">
            <figure class="text-center">
                <img src="{{ Image(region.meta('afbeelding')).src }}" alt="{{ product.get_attribute('pa_streek') }}" class="streek_image">
            </figure>
        </a>
    </div>
</aside>
